.DS_Store
.npm/
.vscode
.idea
.server
node_modules
npm-debug.log
coverage
.cache
.png
allure-report/
allure-results/
FAILED
reports/
env.sh
*.log
*.err
tmp/
scripts/
_results_/
perf-test-tmp/
zap-report/