export ENVIRONMENT=dev
export ORGANISATION_BACKEND_PASSWORD=
export WASTE_MOVEMENT_BACKEND_PASSWORD=
export COGNITO_CLIENT_ID=
export COGNITO_CLIENT_SECRET=
export GOV_PAY_API_KEY=
# needed only when running from local machine
export xapikey=
# needed only when running on test environment
export defraGovUKPassword=
export defraGovGatewayPassword=
# needed for DWT Admin Portal login tests
export adminUiPassword=
# needed only when running on ext-test environment
export httpsAuth=
# needed only when running on browserstack
export BROWSERSTACK_USERNAME=
export BROWSERSTACK_KEY=
